#jinja2:variable_start_string:'{##', variable_end_string:'##}'

name: '{## tsuru_cluster_name ##}'
hosts:
    core:
        size: 1
        driver:
            options:
                generic-ip-address: ["{## tsuru_master_ip ##}"]
                generic-ssh-key: ["{## tsuru_private_key ##}"]
    apps:
        size: 1
        dedicated: false
        driver:
            options:
                generic-ip-address: ["{## tsuru_node1_ip ##}"]
                generic-ssh-key: ["{## tsuru_private_key ##}"]
driver:
    name: generic
    options:
        generic-ssh-port: 22
        generic-ssh-user: root
