# hosts-cluster.dist

[cluster]
aguia-pescadora-delta.etica.ai
aguia-pescadora-echo.etica.ai
aguia-pescadora-foxtrot.etica.ai

[cluster:vars]
# IPs that should be have free access for each machine
cluster_dmz_ips="173.249.10.99,167.86.127.220,167.86.127.225"

# TODO: alertar usuário de que uma DMZ apenas com firewall ainda é menos segura
#       que uma via VPN, em especial se a aplicação não usar algum tipo de
#       de criptografia e autenticação e a rede entre as máquinas puder ser
#       inspecionada por terceiros, como uma WiFi publica
#       (fititnt, 2019-07-21 08:06 BRT)
